@use '../variables' as *;
@use '../mixins' as *;

.header {
  background-color: $bg-white;
  border-bottom: 1px solid $border-color;
  position: sticky;
  top: 0;
  z-index: 50;

  .header-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;

    @include respond-to(sm) {
      padding: 0 1.5rem;
    }
    @include respond-to(lg) {
      padding: 0 2rem;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    flex-wrap: wrap;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .nav {
    display: flex;
    padding-top: $spacing-2;

    @include respond-to(lg) {
      display: flex;
      gap: $spacing-1;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }

  .search-container {
    position: relative;

    @include respond-to(md) {
      display: block;
    }

    .search-input {
      @include input-base;
      width: 20rem;
      padding-left: 2.5rem;
    }

    .search-icon {
      position: absolute;
      left: $spacing-3;
      top: 50%;
      transform: translateY(-50%);
      color: $text-muted;
    }
  }

  .mobile-menu-btn {
    background: none;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 5px;
    display: flex;
    padding: $spacing-2;
    margin-left: $spacing-3;
    color: $text-secondary;
    cursor: pointer;

    &:hover {
      color: $text-primary;
    }

    @include respond-to(lg) {
      display: none;
    }
  }

  .search-toggle-btn {
    @include respond-to(md) {
      display: none;
    }
    background: none;
    border: none;
    padding: $spacing-2;
    color: $text-secondary;
    cursor: pointer;

    &:hover {
      color: $text-primary;
    }
  }
}

.mobile-menu {
  @include respond-to(lg) {
    display: none;
  }

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $bg-white;
  border-top: 1px solid $border-color;
  box-shadow: $shadow-lg;

  .mobile-nav {
    padding: $spacing-4;
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }
}

.mobile-search {
  @include respond-to(md) {
    display: none;
  }

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $bg-white;
  border-top: 1px solid $border-color;
  box-shadow: $shadow-lg;
  padding: $spacing-4;

  .mobile-search-container {
    position: relative;

    .mobile-search-input {
      @include input-base;
      padding-left: 2.5rem;
    }

    .mobile-search-icon {
      position: absolute;
      left: $spacing-3;
      top: 50%;
      transform: translateY(-50%);
      color: $text-muted;
    }
  }
}
