@use '../variables' as *;
@use '../mixins' as *;

.news-filters {
  @include card-base;
  border: unset;
  border-top: 1px solid $border-color;
  box-shadow: unset;
  border-radius: unset;
  padding: $spacing-4;
  margin-top: $spacing-2;
  top: $spacing-4;
  transition: none;

  &:hover {
    box-shadow: none;
    transform: none;
  }

  .filters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacing-4;
  }

  .date-input {
    @include input-base;

    min-width: 10rem;
  }

  .clear-filters-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }
}
