@use '../variables' as *;
@use '../mixins' as *;

.select {
  position: relative;
  width: 100%;
  &__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: $text-primary;
    margin-bottom: $spacing-1;
  }

  &__container {
    position: relative;
  }

  &__control {
    @include input-base;
    color: $text-secondary;
    appearance: none;
    padding-right: 2.5rem;
    cursor: pointer;
    background-image: none;
    width: 100%;
  }

  &__icon {
    position: absolute;
    right: $spacing-3;
    top: 50%;
    transform: translateY(-50%);
    color: $text-muted;
    pointer-events: none;
  }

  @include respond-to(lg) {
    width: unset;
  }
}
